<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- https://getbootstrap.com/docs/5.3/ -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

        <link href="/static/styles.css" rel="stylesheet">

        <title>JiangHu: {% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav class="bg-light border navbar navbar-expand-md navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><span class="red">JiangHu </span><span class="red">江湖</span></a>
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    {% if session["user_id"] %}
                        <ul class="navbar-nav me-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/">Status</a></li>
                            <li class="nav-item"><a class="nav-link" href="/ranking">Ranking</a></li>
                            <li class="nav-item"><a class="nav-link" href="/market">Market</a></li>
                            <li class="nav-item"><a class="nav-link" href="/hunting">Hunting</a></li>
                            <li class="nav-item"><a class="nav-link" href="/mining ">Mining</a></li>
                            <li class="nav-item"><a class="nav-link" href="/smith ">Smith</a></li>
                            <li class="nav-item"><a class="nav-link" href="/hospital ">Hospital</a></li>
                            <li class="nav-item"><a class="nav-link" href="/work">Work</a></li>
                            <li class="nav-item"><a class="nav-link" href="/tavern">Tavern</a></li>
                            <li class="nav-item"><a class="nav-link" href="/duel"><b style="color:Tomato;">Duel</b></a></li>
                        </ul>
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/settings">Settings</a></li>
                            <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary mb-0 text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main class="container-fluid py-5 text-center">
            {% block main %}{% endblock %}
        </main>

        <footer class="mb-5 small text-center text-muted">
            <a href="https://en.wikipedia.org/wiki/Jianghu">Jiang Hu</a>, translated as "Lakes and Rivers" in Chinese, embodies a martial arts world outside mainstream society.<br>
            It's my favorite web game in life, and I aspire to bring it back in English one day. Thank you, CS50!
        </footer>

    </body>

</html>
