{% extends "layout.html" %}

{% block title %}
    Market
{% endblock %}

{% block main %}
    <h3>You have {{ profile['coins'] }} coins.</h3><br>
    <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <h4 text-align="center"><b>Buy</b></h4><br>
                <form action="/market" method="post">
                    <table>
                        <tr>
                            <th>Seller</th>
                            <th>Item</th>
                            <th>Price (Total)</th>
                            <th>Category</th>
                            <th>Quantity</th>
                            <th>Buy</th>
                        </tr>
                        {% for item in market %}
                            <tr>
                                {% for key, value in item.items() %}
                                    <td> {{ value }} </td>
                                    <input type="hidden" name="{{ key }}" value="{{ value }}">
                                {% endfor %}
                                {% if profile['coins'] >= item['coins'] %}
                                    <td><button class="btn btn-primary" name="buy" value="{{ item }}" type="submit">Confirm</button></td>
                                {% else %}
                                    <td><b>N/A</b></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </form><br>
            </div>
            <div class="col">
                <h4 text-align="center"><b>Sell</b></h4><br>
                <form action="/market" method="post">
                    <select class="form-select" name="sell" required>
                        <option disabled>Choose the item</option>
                        {% for item in items %}
                        <option mx-auto w-auto value="{{ item['name'], item['category'] }}"> {{ item['name'] }}</option>
                        {% endfor %}
                    </select>
                    <p>
                    <div class="mb-3">
                        <input autocomplete="on" autofocus class="form-control mx-auto w-auto" id="quantity" name="quantity" placeholder="Quantity" type="number" min="1" required>
                    </div>
                    <div class="mb-3">
                        <input autocomplete="on" autofocus class="form-control mx-auto w-auto" id="price" name="price" placeholder="Selling Price (Total)" type="number" min="1" required>
                    </div>
                    <button class="btn btn-primary" type="submit">Sell</button>
                    </p>
                </form>
            </div>
{% endblock %}

